@{
    ViewData["Title"] = "Form Page";
}
@model WebApplication1.Models.FormModel 

<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />

<section class="inner-container">
    <header>
        <div class="hdr">
            <h1>Application Form</h1>
        </div>
    </header>
    <br />
    <form asp-controller="Form" asp-action="Index" method="post" enctype="multipart/form-data">
        <div class="form-instr">
            <article>
                <p>
                    Thank you for the interest shown in MNJ Software.
                    Please take a few minutes of your time to fill in the following details to
                    help us understand your technical skills and personal competencies better.
                    <br />
                    <div class="photo">
                        <div class="form-group">
                            <label asp-for="PhotoImage">Passport Size Photo</label>
                            <input type="file" asp-for="PhotoImage" class="form-control-file" />
                        </div>
                    </div>

                    <div class="sec">
                        Please keep in mind the following when filling up the form:
                        <br /><br />

                        <ol>
                            <li>
                                Fill in the boxes in the application blank in bold capital
                                Letters unless the content is of a descriptive nature.
                            </li>
                            <li>
                                Fill in the details according to the format mentioned
                                For the date and day.
                            </li>
                        </ol>

                    </div>
                </p>
            </article>
        </div>
        <br />



        <div class="personal-information">
            <h3>Personal Information</h3>
            <hr class="hr" />

            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="FirstName">Name (As in Passport):</label>

                <div class="row">
                    <div class="col">
                        <input asp-for="FirstName" class="form-control" placeholder="Given Name" />
                    </div>
                    <div class="col">

                        <input asp-for="LastName" class="form-control" placeholder="Surname" />
                    </div>
                </div>

            </div>
            <br />

            <div class="form-group">
                <label asp-for="FatherName">Father's Name:</label>
                <input asp-for="FatherName" class="form-control" />
                <span asp-validation-for="FatherName"></span>
            </div>
            <br />

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Nationality">Nationality:</label>
                        <select asp-for="Nationality" class="form-control">
                            <option value="American">American</option>
                            <option value="Australian">Australian</option>
                            <option value="Bangladeshi">Bangladeshi</option>
                            <option value="British">British</option>
                            <option value="Indian">Indian</option>
                            <option value="Sri Lankan">Sri Lankan</option>
                        </select>
                        <span asp-validation-for="Nationality"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label asp-for="Sex">Sex:</label>
                        <select asp-for="Sex" class="form-control">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <span asp-validation-for="Sex"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label asp-for="MaritalStatus">Marital status:</label>
                        <select asp-for="MaritalStatus" class="form-control">
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                        </select>
                        <span asp-validation-for="MaritalStatus"></span>
                    </div>
                </div>

            </div>
            <br />

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="SocialSecurityNumber">Social Security Number (if applicable):</label>
                        <input asp-for="SocialSecurityNumber" class="form-control" />
                        <span asp-validation-for="SocialSecurityNumber"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label asp-for="PanCardNumber">Pan Card Number:</label>
                        <input asp-for="PanCardNumber" class="form-control" />
                        <span asp-validation-for="PanCardNumber"></span>
                    </div>
                </div>

            </div>
            <br />

            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label asp-for="DateOfBirth">Date of Birth:</label>
                        <input type="date" asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label asp-for="PlaceOfBirth">Place of Birth:</label>
                        <input asp-for="PlaceOfBirth" class="form-control" />
                        <span asp-validation-for="PlaceOfBirth"></span>
                    </div>
                </div>

            </div>
            <br />

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">ADDRESS</label>

                <label class="col-sm-4 col-form-label">Present Address</label>

                <label class="col-sm-4 col-form-label">Permanent Address</label>

            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">House No:</label>

                <div class="col">

                    <input asp-for="HouseNO" value="" class="form-control" />

                </div>

                <div class="col">

                    <input asp-for="HouseNO" value="" class="form-control" />

                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">Locality/City:</label>

                <div class="col">

                    <input asp-for="City" value="" class="form-control" />

                </div>

                <div class="col">

                    <input asp-for="City" value="" class="form-control" />

                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">State:</label>

                <div class="col">

                    <input asp-for="State" value="" class="form-control" />

                </div>

                <div class="col">

                    <input asp-for="State" value="" class="form-control" />

                </div>

            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">PIN CODE:</label>

                <div class="col">

                    <input asp-for="PinCode" value="" class="form-control" />

                </div>

                <div class="col">
                    <input asp-for="PinCode" value="" class="form-control" />
                </div>
            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">Period of Stay:</label>
                <div class="col">
                    <input asp-for="PeriodOfStay" value="" class="form-control" />
                </div>
                <div class="col">
                    <input asp-for="PeriodOfStay" value="" class="form-control" />
                </div>
            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">(Telephone):</label>
                <div class="col">
                    <input asp-for="Telephone" value="" class="form-control" />
                </div>
                <div class="col">
                    <input asp-for="Telephone" value="" class="form-control" />
                </div>
            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">(Mobile Phone):</label>
                <div class="col">
                    <input asp-for="MobilePhone" value="" class="form-control" />
                </div>
                <div class="col">
                    <input asp-for="MobilePhone" value="" class="form-control" />
                </div>
            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">E-mail ID (Personal):</label>
                <div class="col">
                    <input asp-for="EmailID" value="" class="form-control" />
                </div>
                <div class="col">
                    <input asp-for="EmailID" value="" class="form-control" />
                </div>

            </div>


            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Instant Messaging System ID:</label>
                <div class="col-sm-7">
                    <input asp-for="InstantMessagingSystemID" class="form-control" value="" />
                </div>
            </div>

        </div>
        <br />

        <div class="personal-information">

            <h3>Passport Information</h3>
            <hr />

            <div class="form-group row">

                <label class=" col-sm-4 col-form-label">Passport Details:</label>

                <div class="col">

                    <div class="form-check form-check-inline col-sm-3">

                        <input type="checkbox" class="form-check-input" />
                        <label class="form-check-label">Not Available</label>

                    </div>

                    <div class="form-check form-check-inline col-sm-3">

                        <input type="checkbox" class="form-check-input" />
                        <label class="form-check-label">Available</label>

                    </div>

                    <div class="form-check form-check-inline col-sm-3">

                        <input type="checkbox" class="form-check-input" />
                        <label class="form-check-label">Applied</label>

                    </div>

                </div>
            </div>

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</section>




